/************** Variables **************/


/************** Custom Font **************/
@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Book.ttf');
  font-weight: 400;
}

/************** Default CSS **************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: var(--bg-color) !important;
  color: var(--sub-color) !important;
  font-family: 'Centra', sans-serif !important;
}

hr {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  border: 0 !important;
}

section {
  min-height: 100vh;
}

.App {
  text-align: center;
}

.main-color {
  background-color: var(--main-color);
}

.caret-color {
  background-color: var(--caret-color);
}

.sub-color {
  background-color: var(--sub-color);
}

.sub-alt-color {
  background-color: var(--sub-alt-color);
}

/************** Navbar **************/
#my-navbar {
  background-color: var(--bg-color) !important;
}

#my-navbar a {
  color: var(--sub-color) !important;
}

#my-navbar .dropdown-menu {
  background-color: var(--bg-color) !important;
  border-color: var(--sub-color) !important;
}

#my-navbar .dropdown-menu a:hover {
  background-color: var(--main-color) !important;
}

#my-navbar .dropdown-menu a:active {
  background-color: var(--main-color) !important;
}

/************** Home **************/
.home-container {
  margin: auto;
  width: 50%;
  display: flex;
}

/************** Skills **************/


/************** Projects **************/


/************** About **************/


/************** Contact **************/


