/************** Custom Font **************/
@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Book.ttf');
  font-weight: 400;
}

/************** Default CSS **************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: var(--bg-color) !important;
  color: var(--sub-color) !important;
  font-family: 'Centra', sans-serif !important;
}

hr {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  border: 0 !important;
}

section {
  min-height: 100vh;
}

.App {
  text-align: center;
}

/* This is for styling the text */

.style-text-main-color {
  color: var(--main-color) !important;
}

.style-text-caret-color {
  color: var(--caret-color) !important;
}

.style-text-sub-color {
  color: var(--sub-color) !important;
}

.style-text-sub-alt-color {
  color: var(--sub-alt-color) !important;
}

.style-text-text-color {
  color: var(--text-color) !important;
}

/* ^ This is for styling the text ^ */

/************** Navbar **************/
#my-navbar {
  background-color: var(--bg-color) !important;
  transition: top 0.3s;
}

#my-navbar a {
  color: var(--text-color);
}

#my-navbar .dropdown-menu {
  background-color: var(--bg-color);
  border-color: var(--sub-color);
}

#my-navbar .dropdown-menu a:hover {
  background-color: var(--main-color);
}

#my-navbar .dropdown-menu a:active {
  background-color: var(--main-color);
}

#basic-nav-dropdown {
  color: var(--sub-color) !important;
}

.navbar-toggler {
  background-color: var(--sub-color) !important;
}

/************** Home **************/

#home {
  margin-top: 8rem;
}

.home-container {
  margin: auto;
  width: 50%;
  display: flex;
}

#projects-button {
  border: 0.8;
  color: var(--sub-color);
  background-color: var(--bg-color);
  border-color: var(--sub-color);
  border-radius: 4px;
  padding: 1.25rem 1.75rem;
  margin-top: 50px;
}

/************** Skills **************/


/************** Projects **************/


/************** About **************/


/************** Contact **************/


